$primary-color:#25274D;
$secondary-color:#0c0032;
//$secondary-color: #AAABB8;
//$secondary-color: #29648A;
$menu-color:#151736;

$color-transition: #AAABB8;
$sub-head-color:#3500d3;

@mixin easeOut{
  transition: all 0.5s ease-out;
}
