@import 'config';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  scroll-behavior:smooth;
}

h1, h2, h3{
    &.lg-heading{
      font-size:6rem;
    }
    &.sm-heading{
      width:50%;
      margin-bottom:2rem;
      padding:0.2rem 1rem;
      box-shadow: 5px 5px black;
    }
}
body{

  line-height:1.5;
}

.menu{
  position:fixed;
  width:100%;
  background-color:$menu-color;

  &-nav{
    display:flex;
    list-style:none;
    justify-content:flex-end;
  }

  li{
    text-align:center;
    padding: 10px 15px 10px 20px;
  }
  a{
    color:white;
    font-size:1.2rem;
    text-decoration:none;
    &:hover{
      color:$color-transition;
      @include easeOut;
    }
  }
}

.content {
    padding:5rem;
}



main{
  #landing-page-container{
    background-color:$primary-color;
    height:100vh;

    #landing-page{
    padding-top:30vh;
    color:white;
      .sm-heading{
        background:rgba(lighten($sub-head-color,2), 0.9);
      }
      p{
        padding:0.2rem 1rem;
      }
    }
  }



  #projects-container{
    height:100vh;
    background-color:$secondary-color;
    color:white;

    .sm-heading{
      background:rgba(lighten($sub-head-color, 2), 0.9);
    }
  }


  #contact{
    height:90vh;
    background-color:$primary-color;
    color:white;

    .sm-heading{
      background:rgba(lighten($sub-head-color,2), 0.9);
    }
  }

}


//Projects page
#works{
  display:grid;
  grid-gap: 0.7rem;
  grid-template-columns:repeat(3, 1fr);


  img {
    width:100%;
    object-fit: cover;
    border: 3px white solid;

    &:hover{
      opacity:0.5;
      @include easeOut;
    }
  }
}

//button styles
.btn {
  text-decoration: none;
  text-align:center;
  display:block;
  padding: 0.5rem 1rem;
  border:0;
  margin-bottom: 0.3rem;
  &:hover {
    opacity:0.5;
    @include easeOut;
  }


}
.btn-dark{
  @extend .btn;
  background: $primary-color;
  color:white;

}

.btn-light{
  @extend .btn;
  background: $sub-head-color;
  color:white;
}

//contacts page
.contact-items{
  display:grid;
  grid-gap: 0.7rem;
  grid-template-columns:repeat(4, 1fr);
  padding-top:10vh;

  a{
    color:white;
    text-decoration:none;
    font-size:3rem;
  }
}


footer{
  height:10vh;
  display:flex;
  justify-content: center;
  align-items:center;
  font-size:1.5rem;
  color:white;
  background-color:$secondary-color;
}

@import 'responsive';
