@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  scroll-behavior: smooth; }

h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 6rem; }

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  width: 50%;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  box-shadow: 5px 5px black; }

body {
  line-height: 1.5; }

.menu {
  position: fixed;
  width: 100%;
  background-color: #151736; }
  .menu-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end; }
  .menu li {
    text-align: center;
    padding: 10px 15px 10px 20px; }
  .menu a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none; }
    .menu a:hover {
      color: #AAABB8;
      transition: all 0.5s ease-out; }

.content {
  padding: 5rem; }

main #landing-page-container {
  background-color: #25274D;
  height: 100vh; }
  main #landing-page-container #landing-page {
    padding-top: 30vh;
    color: white; }
    main #landing-page-container #landing-page .sm-heading {
      background: rgba(56, 0, 221, 0.9); }
    main #landing-page-container #landing-page p {
      padding: 0.2rem 1rem; }

main #projects {
  height: 100vh;
  background-color: #0c0032;
  color: white; }
  main #projects .sm-heading {
    background: rgba(56, 0, 221, 0.9); }

main #contact {
  height: 90vh;
  background-color: #25274D;
  color: white; }
  main #contact .sm-heading {
    background: rgba(56, 0, 221, 0.9); }

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #0c0032; }
